<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>uni0041</key>
	<string>uni0041.glif</string>
	<key>uni0042</key>
	<string>uni0042.glif</string>
	<key>uni0043</key>
	<string>uni0043.glif</string>
	<key>uni0044</key>
	<string>uni0044.glif</string>
	<key>uni0045</key>
	<string>uni0045.glif</string>
	<key>uni0046</key>
	<string>uni0046.glif</string>
	<key>uni0047</key>
	<string>uni0047.glif</string>
	<key>uni0048</key>
	<string>uni0048.glif</string>
	<key>uni0049</key>
	<string>uni0049.glif</string>
	<key>uni004A</key>
	<string>uni004A_.glif</string>
	<key>uni004B</key>
	<string>uni004B_.glif</string>
	<key>uni004C</key>
	<string>uni004C_.glif</string>
	<key>uni004D</key>
	<string>uni004D_.glif</string>
	<key>uni004E</key>
	<string>uni004E_.glif</string>
	<key>uni004F</key>
	<string>uni004F_.glif</string>
	<key>uni0050</key>
	<string>uni0050.glif</string>
	<key>uni0051</key>
	<string>uni0051.glif</string>
	<key>uni0052</key>
	<string>uni0052.glif</string>
	<key>uni0053</key>
	<string>uni0053.glif</string>
	<key>uni0054</key>
	<string>uni0054.glif</string>
	<key>uni0055</key>
	<string>uni0055.glif</string>
	<key>uni0056</key>
	<string>uni0056.glif</string>
	<key>uni0057</key>
	<string>uni0057.glif</string>
	<key>uni0058</key>
	<string>uni0058.glif</string>
	<key>uni0059</key>
	<string>uni0059.glif</string>
	<key>uni005A</key>
	<string>uni005A_.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
    </dict>
</plist>
